.element {
  width: 100%;
  border: 2px solid;
  border-radius: 1rem;
  text-align: center;
}

@media (max-width :600px){

  .element{
        grid-template-columns: repeat(2, 1fr); /* 2 columns on mobile */

  }
}