.toolstyle{
    border-width: 2px;
    gap: 4px;
    border-radius: 6px;
    padding: 4px 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
}
.prostyle{
    border-width: 2px;
    border-radius: 6px;
    padding:  8px 12px;
    align-items: center;
    cursor: pointer;
}